@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    overflow-x: hidden;

}

/* variaveis de cor */
:root {
    --gradient: linear-gradient(-40deg,
            #443d0fa9,
            #bcbe9686,
            #787254a4);

    --borderblue: #1c446ed8;

    --bg: linear-gradient(#000000,
            #161618);
}

/* Cabeçalho */
header {
    width: 100%;
    background: black;
    position: fixed;
    padding: 1em;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-bottom: 1px solid #ffffff76;
    box-shadow: 1px -10px 12px 8px #ffffff99;
}

.portfolio {
    border-left: 3px solid white;
    padding-left: 3px;
    cursor: pointer;
}

.hamburguer-menu {
    display: none;
    position: absolute;
    left: 10px;
    top: 10;
    cursor: pointer;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1em;
}

.menu {
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
}

.menu a {
    color: #ffffffc1;
    text-decoration: none;
    font-size: large;
    font-weight: 800;
    cursor: pointer;
}

a:hover {
    color: #646461;
    transition: 0.8s;
}

/* Geral */
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    padding: 10em 0;
}

.info {
    width: 100%;
    padding: 2em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
    color: white;
}

.info p {
    cursor: pointer;
}

h1 {
    font-size: 34px;
    border-bottom: 13px solid;
    border-image: linear-gradient(to left, var(--borderblue) 70%, transparent 10%) 1;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
}

#home h1 {
    font-size: 80px;
    line-height: 0.9;
    border: none;
    padding-bottom: 3px;
}

/* cada um com seu background */
#home {
    background-color: black;
}

#about {
    background: var(--bg);
}

#skills {
    background-image: url(../img/dev.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: #201d1df3;
    background-blend-mode: multiply;
}

#xp {
    background-color: #bcbbb6e8;
}

#projects {
    background: black;
    border-bottom: 1px solid #ffffff76;
}


/* primeiro bloco */
/*redes*/
.wrapper-profile {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;
    color: white;
}

.typing-effect {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid #71a34da9;
    width: 29.2ch;
    animation: typing 2s steps(26), blink 0.5s step-end infinite;
}

@keyframes typing {
    from {
        width: 1ch;
    }

    to {
        width: 29ch;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.profile {
    width: 30ch;
    display: flex;
    flex-direction: column;
    gap: 3px;
    text-align: center;
}

.divIcons {
    display: flex;
    justify-content: center;
    gap: 12px;
}

.divIcons img {
    width: 38px;
    opacity: 0.5;
}

.divIcons img:hover {
    opacity: 1;
    transition: 1s;
}

.contatoIcon {
    margin: 0;
}

/* card-foto */
.card-foto {
    cursor: pointer;
}

.card-foto img {
    opacity: 0.7;
    box-shadow: 6px 5px 1px 2px var(--borderblue);
    background-color: white;
}

/* segundo bloco */
.texto {
    text-align: center;
    font-size: large;
    font-weight: bold;
    line-height: 1.5;
    width: 60%;
    padding: 2em;
    border-left: 3px solid;
    border-top: 1px solid;
    border-image: linear-gradient(130deg, grey, transparent 10%)1 round;
    box-shadow: 6px 6px 1px 2px var(--borderblue);
}

@media(width < 750px) {
    .texto {
        padding: 1em;
        width: 90%;
        font-size: medium;
    }
}

/*barra de scroll*/
::-webkit-scrollbar {
    width: 8px;
    background: #000000dc;
}

::-webkit-scrollbar-thumb {
    background: #88888894;
    border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
    background: #cbcbcbba;
}


/*Terceiro bloco*/
/*habilidades*/
.skill-icons {
    padding: 3em 0;
    overflow-y: hidden;
    overflow-x: hidden;
    width: 80%;
    display: grid;
    gap: 1em;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(8em, 1fr));
}

@media(max-width:415px) {
    .skill-icons {
        grid-template-columns: repeat(auto-fit, minmax(7em, 1fr));
    }
}

@media(width < 600px) {
    .skill-icons {
        width: 90%;
    }
}

@media(width > 600px) and (max-width:1020) {
    .skill-icons {
        padding: 1em 0;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media(min-width:1020px) and (width < 1430px) {
    .skill-icons {
        grid-template-columns: repeat(4, 1fr);
        width: 60%;
    }
}


.skill-icons img {
    margin: 0;
    width: 64px;
    filter: grayscale(80%);
    opacity: 0.8;
}

.skill-icons-card {
    margin: 0;
    padding: 1em;
    width: 8em;
    text-align: center;
    border: 1px solid var(--borderblue);
    border-bottom: 6px solid var(--borderblue);
    border-right: 4px solid var(--borderblue);
    border-radius: 0 2em 0 0;
    background-color: #3a39395c;
}

.skill-icons-card:hover {
    transform: scale(1.1);
    transition: 0.5s;
    box-shadow: 2px 2px 10px 1px var(--borderblue);
}

.skill-icons img:hover {
    transform: scale(1.1);
    filter: grayscale(0%);
    opacity: 1;
    transition: 0.5s;
}

h4 {
    text-align: center;
    font-weight: bolder;
    color: #c0bebe
}

/* Quarto bloco */
/* qualificação */
#xp>h1 {
    border-bottom: 3px solid;
    border-image: linear-gradient(to left, black 70%, transparent 0%) 1 round;
}

.wrapper-card-xp {
    width: 100%;
    display: flex;
    justify-content: center;
    color: black;
}

.div-xp {
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: small;
}

@media(max-width: 667px) {
    .div-xp {
        padding: 0;
    }
}

h2 {
    text-align: center;
}

.card-xp {
    padding: 1em;
    border-bottom: 3px solid;
    border-image: linear-gradient(to right, #f5f5dcad, transparent 80%) 1 round;
}

.subtitle-xp-card {
    color: #323232;
}

.date-xp-card {
    margin-top: 1em;
    display: flex;
    color: #323232;
}

.date-xp-card p {
    display: flex;
    align-items: self-end;
}

@media(max-width: 540px) {
    .date-xp-card p {
        font-size: smaller;
    }
}

.download {
    color: white;
    width: 130px;
    background-color: #262626;
    font-weight: bolder;
    padding: 2px 15px;
    border-radius: 5em;
    cursor: pointer;
    margin-top: 1em;
    border: 1px solid white;
}

.download a {
    text-decoration: none;
    color: white;
}

.download:hover {
    background-color: #262626cf;
}

/* Quinto bloco */
/* projetos */
#projects>.info {
    display: grid;
    width: 80%;
    justify-items: center;
    text-align: center;
    grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
}
@media(max-width: 540px){
    #projects > .info{
       display: flex;    
    }
    
    .card:hover:hover{
        transform: unset;
    }
}

.card {
    border: 3px solid var(--borderblue);
    border-radius: 2em 4em 0 0;
    width: 400px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.5s;
    box-shadow: -10px 3px 30px 6px #141414f2;
    cursor: pointer;
}
.card img {
    border-radius: 2em 2em 0 0;
}

.card:hover {
    background-position: right;
    background-color: #000000be;
    background-blend-mode: multiply;
    box-shadow: 4px 3px 60px 4px var(--borderblue);
    animation: roll-bg 5s;
    transform: translateX(-100px);
}

@keyframes roll-bg {
    from {
        background-position: left;
    }

    to {
        background-position: right;
    }
}

.card h2 {
    margin-bottom: 4px;
}

.card a {
    text-decoration: none;
    color: #dcd7bf;
}

.card a:hover {
    color: #d2c064;
    transition: 0.8s;
}

.texto-projeto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    padding: 1em;
    font-size: medium;
    text-align: center;
    margin: 0;
    border-radius: 0 2em 0 0;
    color: white;
    font-weight: 900;
    height: 100%;
}

.texto-projeto:hover {
    opacity: 1;
    transition: 1s;
    transition-delay: .5s;
}

/* Rodapé */
footer {
    width: 100%;
    background-color: #000000;
    position: relative;
    height: fit-content;
    padding: 1em;
    border-top: 1px solid #ffffff76;
}

.rodape {
    text-align: center;
    color: white
}

.rodape img {
    width: 24px;
}

@media (max-width: 650px) {
    .wrapper-profile {
        flex-wrap: wrap-reverse;
        gap: 20px;
    }

    #home h1 {
        font-size: 40px;
        text-align: left;
        padding-left: 15px;
    }
}

@media (max-width: 805px) {
    .menu {
        display: none;
    }

    .hamburguer-menu {
        display: block;
    }

}

/*menu mobile  */
.menu-mobile {
    width: 100%;
    height: 100vh;
    background-color: #0b0b0bf5;
    display: none;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 20000;
}

.menu-mobile a {
    color: #ffffffc1;
    text-decoration: none;
    font-weight: 900;
    font-size: 26px;
    cursor: pointer;
}

.menu-mobile a:hover {
    color: #646461;
    transition: 0.8s;
}

.close-menu {
    position: absolute;
    top: 25px;
    left: 10px;
    cursor: pointer;
}