@charset "UTF-8";

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'RobotoLight';
}

/*fonte*/
@font-face {
    font-family: 'RobotoThin';
    src: url(../roboto/Poppins,Roboto_Slab/Roboto_Slab/static/RobotoSlab-Thin.ttf) format("opentype");
}

@font-face {
    font-family: 'RobotoLight';
    src: url(../roboto/Poppins,Roboto_Slab/Roboto_Slab/static/RobotoSlab-ExtraLight.ttf) format("opentype");
}

/* variaveis de cor */
:root {
    --gradient: linear-gradient(-40deg,
            #443d0fa9,
            #bcbe9686,
            #787254a4);

    --borderblue: #1c446ed8;         
}

/* Cabeçalho */
header {
    width: 100%;
    background-color: #191919;
    position: fixed;
    padding: 1em;
    z-index: 1;
    border-bottom: 1px solid #ffffff76;
    box-shadow: 1px -10px 12px 8px #ffffff99;
}

.center {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1em;
}

.menu {
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
}

.menu a {
    color: #ffffffc1;
    text-decoration: none;
    font-family: 'RobotoLight';
    font-size: large;
    font-weight: 800;
    cursor: pointer;
}

a:hover {
    color: #646461;
    transition: 0.8s;
}

.volumeButton {
    z-index: 99999;
    background-image: url(../img/volume.png);
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: center;
    width: 25px;
    position: fixed;
    right: 10px;
    top: 10px;
    border-radius: 5px;
    opacity: 0.7;
    cursor: pointer;
}

/* Geral */
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 22px;
    width: 100%;
    height: 100vh;
    box-shadow: 1px 5px 12px 10px #ffffff;
}

.info {
    margin: 0;
    width: 80%;
    padding: 2em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    border-top: 2px solid;
    border-bottom: 3px solid;
    border-left: 2px solid;
    border-image: linear-gradient(to right, #504242, transparent 50%) 3 round;
    color: white;
}

.info p {
    cursor: pointer;
}

h1 {
    font-family: 'RobotoLight';
    font-size: 34px;
    white-space: nowrap;
    border-bottom: 3px solid #ffffff;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
}

#home {
    background-color: #191919;
}

#skills {
    background-image: url(../img/dev.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: #201d1df3;
    background-blend-mode: multiply;
}

#xp {
    background-color: #bcbbb6e8;
}

#projects {
    color: white;
    background-image: url(../img/dark_bg.webp),
        linear-gradient(to top, black, transparent 50%);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    height: fit-content;
    padding: 6em 0;
}

#projects .info , #skills .info {
    padding: 3em 0;
    width: 95%;
    justify-content: center;
}

/* primeiro bloco */
/*redes*/
.typing-effect {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid #71a34da9;
    width: 30ch;
    animation: typing 3s steps(31), blink 0.5s step-end infinite;
}

@keyframes typing {
    from {
        width: 1ch;
    }

    to {
        width: 30ch;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.profile h1 {
    font-size: 24px;
    border: none;
}

.profile {
    width: 30ch;
}

.divIcons {
    padding-top: 1em;
    display: flex;
    justify-content: center;
    gap: 12px;
}

.divIcons img {
    width: 38px;
    opacity: 0.5;
}

.divIcons img:hover {
    opacity: 1;
    transition: 1s;
}

.contatoIcon {
    margin: 0;
}

/* card-foto */
.card-foto {
    padding: 0.2em;
    display: flex;
    cursor: pointer;
}

.card-foto img {
    opacity: 0.7;
    border: 2px solid #ffffff;
    border-radius: 10em;
    background-color: #ffffff;
}

/* segundo bloco */
.texto {
    text-align: center;
    font-size: medium;
    font-weight: bold;
    line-height: 1.5;
    color: black;
}

/*barra de scroll*/
::-webkit-scrollbar {
    width: 8px;
    background: #000000dc;
}

::-webkit-scrollbar-thumb {
    background: #88888894;
    border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
    background: #cbcbcbba;
}


/*Terceiro bloco*/
/*habilidades*/
.skill-icons {
    padding: 1em;
    overflow-y: hidden;
    overflow-x: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1em;
    flex-wrap: wrap;
}
.skill-icons img {
    margin: 0;
    width: 64px;
    filter: grayscale(80%);
    opacity: 0.8;
}
.skill-icons-card {
    margin: 0;
    padding: 1em;
    width: 8em;
    text-align: center;
    border: 1px solid var(--borderblue);
    border-bottom: 6px solid var(--borderblue);
    border-right: 4px solid var(--borderblue);
    border-radius: 0 2em 0 0;
    background-color: #3a39395c;
}
.skill-icons-card:hover{
    transform: scale(1.1);
    transition: 0.5s;
    box-shadow: 2px 2px 10px 1px var(--borderblue);
}
.skill-icons img:hover {
    transform: scale(1.1);
    filter: grayscale(0%);
    opacity: 1;
    transition: 0.5s;
}
h4{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:bolder;
    color: #c0bebe
}

/* Quarto bloco */
/* qualificação */
.wrapper-card-xp {
    width: 100%;
    display: flex;
    justify-content: center;
    color: black;
}

.div-xp {
    padding: 20px;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

h2 {
    text-align: center;
}

.card-xp {
    padding: 1em;
    margin: 0;
    border-bottom: 3px solid;
    border-image: linear-gradient(to right, #f5f5dcad, transparent 80%) 1 round;
}

.date-xp-card {
    margin-top: 1em;
}

.download {
    color: white;
    font-size: 18px;
    background-color: #262626;
    font-weight: bolder;
    padding: 2px 15px;
    border-radius: 2em;
    cursor: pointer;
    margin-top: 1em;
    box-shadow: 1px 3px 1px 1px black;
}

.download a {
    text-decoration: none;
    color: white;
}

.download:hover {
    background-color: #262626cf;
}

/* Quinto bloco */
/* projetos */
.card {
    margin: 0;
    border: 1px solid var(--borderblue);
    border-bottom: 7px solid var(--borderblue);
    border-right: 5px solid var(--borderblue);
    border-radius: 0 2em 0 0;
    width: 400px;
    height: 300px;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    transition: .5s;
    box-shadow: 4px 3px 10px 2px #565656c8;
    cursor: pointer;
}

.card:hover {
    background-position: right;
    background-color: #000000be;
    background-blend-mode: multiply;
    box-shadow: 4px 3px 30px 2px var(--borderblue);
    animation: roll-bg 10s;

}

@keyframes roll-bg {
    from {
        background-position: left;
    }

    to {
        background-position: right;
    }
}

.card h2 {
    margin-bottom: 4px;
}

.card a {
    text-decoration: none;
    color: #dcd7bf;
}

.card a:hover {
    color: #d2c064;
    transition: 0.8s;
}

.texto-projeto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    padding: 1em;
    font-size: medium;
    text-align: center;
    margin: 0;
    color: white;
    font-weight: 900;
    height: 100%;
}

.texto-projeto:hover {
    opacity: 1;
    transition: 1s;
}


/* Sexto bloco */
/* XADREZ */
.wrapper-jogo {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../img/bg1.webp),
        linear-gradient(to bottom, black, transparent 70%);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper-canvas {
    position: relative;
    display: flex;
}

.canvas {
    background-image: url(../img/board1.jpg);
    background-size: cover;
    padding: 0.5em;
    width: 24em;
    height: 24em;
    border: 1rem solid #391f02f2;
}

.tempo1 {
    position: absolute;
    top: 0;
    left: -5px;
    padding-left: 0.3em;
}

.tempo2 {
    position: absolute;
    bottom: 0;
    left: -5px;
    padding-left: 0.3em;
}

.wrapper-canvas p {
    color: #e6e673d3;
    font-weight: bolder;
}

.options {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.options p {
    font-size: 1em;
    text-align: center;
    cursor: pointer;
}

.options label {
    color: #ebeb90b1;
    font-weight: bold;
    font-size: 1.3em;
}

.input {
    cursor: pointer;
}

.div-button {
    text-align: center;
}

.play {
    font-weight: 900;
    font-size: 28px;
    letter-spacing: 0.2rem;
    border: #444131 solid;
    background-image: var(--gradient);
    background-position: right;
    background-size: 100rem;
    transition: background-position 0.9s;
    border-radius: 1rem;
    box-shadow: 5px 6px 1px 3px #0c0c0cb7;
    margin-top: 1em;
    padding: 0.4em 2em;
    cursor: pointer;
    color: black;
}

.play:hover {
    background-position: left;
}

/* Rodapé */
footer {
    width: 100%;
    background-color: #000000;
    position: relative;
    height: fit-content;
    padding: 1em;
    border-top: 1px solid #ffffff76;
}

.rodape {
    text-align: center;
    color: white
}

.rodape img {
    width: 24px;
}

@media (max-width: 400px) {
    .card-foto img {
        width: 200px;
    }

    #about .info {
        padding: 3em 0;
    }

    .texto {
        font-size: smaller;
    }

    .skill-icons {
        padding: 0;
    }

    .skill-icons img {
        width: 68px;
    }

    .canvas {
        width: 18em;
        height: 18em;
    }

}
@media(max-width: 480px){
    #skills{
        height: fit-content;
        padding: 10em 0;
    }
}

@media (max-width: 512px) {
    #xp .info {
        width: 90%;
        padding: 1em 0;
    }

    .div-xp img {
        width: 18px;
    }

    .div-xp h2 {
        font-size: smaller;
    }

    h3 {
        font-size: small;
    }

    .card-xp {
        padding: 0.5em;
    }

    .card-xp p {
        font-size: smaller;
    }

    .download {
        font-size: 10px;
    }

    .download img {
        width: 16px;
    }

    #wrapper-play .info {
        width: 100%;
        background-image: none;
    }
}

@media (max-width: 612px) {
    .menu {
        display: none;
    }

    .card {
        width: 95%;
    }

}