@charset "UTF-8";

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial Narrow Bold'
}

/* Animação */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


/*fonte*/
@font-face {
    font-family: 'fontface';
    src: url(../michigan_5/Michigan.ttf) format("opentype");
}


/* variaveis de cor */
:root {
    --gradient: linear-gradient(-40deg,

            #443d0fa9,
            #bcbe9686,
            #787254a4);

    --gradientCard: linear-gradient(-80deg,
            #3b3b3bae,
            #65656526,
            #e4e4e13e,
            #5d593947);

    --gradientOverlay: linear-gradient(0deg,
            #040404d6,
            #10101050,
            #10101050);
}


/* Geral */
body {
    width: 100%;
    margin: 0;
    overflow-y: auto;
    overflow-x: hidden;
    background-image: url(../img/grunge-checkerboard-texture-background.jpg);
    background-size: cover;
    background-attachment: fixed;
}

html {
    width: 100%;
}

.overlay {
    background-image: var(--gradientOverlay);
    background-size: cover;
    height: 100%;
}

.wrapper-back-to-top{
    z-index: 99999;
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 20px;
    cursor: pointer;
}
.wrapper-back-to-top img{
    width:100%;
}

.info {
    margin-top: 3em;
    padding: 2em;
    width: 80%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    gap: 23px;
    color: white;
}

/* Primeiro bloco */
.wrapper {
    z-index: 1;
    position: relative;
    width: 100%;
    background-image: url(../img/bg.webp);
    background-size: cover;
    height: 100vh;
    box-shadow: 15px 25px 22px 2px black;
}

/* Cabeçalho */
header {
    width: 100%;
    background-color: #3e3d3d5c;
    position: relative;
    box-shadow: 1px -10px 12px 10px rgba(255, 255, 255, 0.601);
}

.header-fixed {
    width: 100%;
    background-color: #3e3d3d5c;
    position: fixed;
    box-shadow: 1px -10px 12px 10px rgba(255, 255, 255, 0.601);
}

.center {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
}

.title-wrapper {
    display: flex;
    align-items: center;
    gap: 3px;
}

.logo img {
    width: 38px;
}

.titulo {
    font-family: "fontface";
    font-weight: bolder;
    color: #c3c3c3dd;
    font-size: 24px;
    cursor: pointer;
}

.menu {
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
}

.menu a {
    color: rgba(255, 255, 255, 0.755);
    text-decoration: none;
    font-size: large;
    font-weight: bold;
}

a:hover {
    color: #616164;
    transition: 0.8s;
}

.volumeButton {
    z-index:99999;
    background-image: url(../img/volume.png);
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: center;
    width: 25px;
    position: fixed;
    right: 10px;
    top: 10px;
    border-radius: 5px;
    opacity: 0.7;
    cursor: pointer;
}

/* Cards */
.card {
    margin: 0;
    width: 400px;
    height: 400px;
    padding: 2em;
    border-top-left-radius: 1em;
    border-top-right-radius: 3em;
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 1rem;
    background-image: var(--gradientCard);
    background-position: right;
    background-size: 240rem;
    transition: background-position 0.9s;
    box-shadow: 4px 3px 20px 3px #737272c8;
    animation: fadeIn 1.5s;
    cursor: pointer;
}

.card:hover {
    background-position: left;
}

.card h2 {
    padding-bottom: 1rem;
    text-align: center;
}

.texto {
    font-size: 20px;
    line-height: 1.5;
    font-weight: bold;
}

.cliqueaqui {
    color: antiquewhite;
}

.cliqueaqui:hover {
    color: darkkhaki;
    transition: 0.8s;
}

/*barra de scroll*/
::-webkit-scrollbar {
    width: 8px;
    background: #000000dc;
}

::-webkit-scrollbar-thumb {
    background: #88888894;
    border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
    background: #cbcbcbba;
}

/*redes*/
.divIcons {
    padding-top: 1em;
    display: flex;
    justify-content: center;
    gap: 12px;
}

.divIcons img {
    width: 38px;
    opacity: 0.5;
}

.divIcons img:hover {
    opacity: 1;
    transition: 1s;
}

.contatoIcon {
    margin: 0;
}

/* card-foto */
.card-foto {
    width: fit-content;
    height: fit-content;
    padding: 0.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 0em;
    border-top-right-radius: 1em;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 0em;
    background-image: var(--gradientCard);
    background-position: right;
    background-size: 240rem;
    transition: background-position 0.9s;
    box-shadow: 4px 3px 20px 3px #737272c8;
    animation: fadeIn 1.5s;
    cursor: pointer;
}

.card-foto img {
    opacity: 0.7;
    width: 100%;
}



/* Segundo bloco */
/*habilidades*/
.wrapper-skills {
    z-index: 0;
    position: relative;
    padding-top: 5em;
    background-image: url(../img/bg5.webp);
    background-size: cover;
    height: fit-content;
    box-shadow: 15px 25px 22px 2px black;
}

.skill-icons {
    padding: 1em;
    overflow-y: hidden;
    overflow-x: hidden;
    width: 100%;
    text-align: center;
}

.skill-icons img {
    padding: 12px;
    width: 30%;
    filter: grayscale(80%);
    opacity: 0.8;
}

.skill-icons img:hover {
    transform: scale(1.2);
    filter: grayscale(0%);
    opacity: 1;
    transition: 0.5s;
}

/*Terceiro bloco*/
/*projetos*/
.wrapper-projects {
    padding-top: 5em;
    background-image: url(../img/bg2.webp);
    background-size: cover;
    height: fit-content;
    box-shadow: 15px 25px 22px 2px black;
}

.title-projects {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    color: white;
}

.wrapper-projects .card {
    width: 250px;
}

.img-projeto {
    text-align: center;
}

.img-projeto :hover {
    transform: scale(2);
    opacity: 1;
    transition: 2s;
}

.img-projeto img {
    width: 70%;
    opacity: 0.8;
}

/* CARROSSEL */
.wrapper-carrossel {
    padding: 2em;
    position: relative;
    width: 100%;
    display: none;
}

.carrossel {
    padding: 1em;
    width: 100%;
    display: none;
    gap: 33px;
    overflow-y: hidden;
    overflow-x: auto;
}

.carrossel::-webkit-scrollbar {
    display: none;
}

#prev {
    z-index: 9999;
    font-size: 43px;
    line-height: 0px;
    padding-bottom: 8px;
    font-weight: bold;
    position: absolute;
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 200px;
    border: 5px solid #000000;
    background-color: transparent;
    color: #000000;
    box-shadow: 1px 1px 3px 2px #00000092;
    left: 0;
    top: 50%;
}

#next {
    z-index: 9999;
    font-size: 43px;
    line-height: 0px;
    padding-bottom: 8px;
    font-weight: bold;
    position: absolute;
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 200px;
    border: 5px solid #000000;
    background-color: transparent;
    color: #000000;
    box-shadow: 1px 1px 3px 2px #00000092;
    right: 0;
    top: 50%;
}

.carrossel .card {
    flex-shrink: 0;
    width: 100%;
}


/* XADREZ */
.wrapper-jogo {
    padding-top: 5em;
    height: fit-content;

}

.screen {
    display: flex;
    flex-wrap: wrap;
    padding: 2em;
    gap: 12px;
    width: 100%;
    height: fit-content;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 1rem;
    border-top-right-radius: 8rem;
    border-bottom-left-radius: 4rem;
    border-bottom-right-radius: 2rem;
    background-image: linear-gradient(#17171772 20%, #0000009b);
    letter-spacing: 1px;
    box-shadow: 4rem 3rem 1rem -1rem #000000c8;
    animation: fadeIn 1.5s;
}

.wrapper-canvas {
    position: relative;
    display: flex;
}

.canvas {
    background-image: url(../img/board1.jpg);
    background-size: cover;
    padding: 0.5em;
    width: 24em;
    height: 24em;
    border: 1rem solid #391f02f2;
}

.tempo1 {
    position: absolute;
    top: 0;
    left: -5px;
    padding-left: 0.3em;
    color: #e6e673d3;
}

.tempo2 {
    position: absolute;
    bottom: 0;
    left: -5px;
    padding-left: 0.3em;
    color: #e6e673d3;
}

.tempo2,
.tempo1 p {
    font-weight: bold;
}

.options {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.options p {
    font-size: 1em;
    text-align: center;
}

.options label {
    color: #ebeb90b1;
    font-weight: bold;
    font-size: 1.3em;
    font-family: "fontface";
}

.input {
    cursor: pointer;
}

.div-button {
    text-align: center;
}

.play {
    font-family: "fontface";
    font-weight: bolder;
    font-size: 28px;
    letter-spacing: 0.2rem;
    border: #444131 solid;
    background-image: var(--gradient);
    background-position: right;
    background-size: 100rem;
    transition: background-position 0.9s;
    border-radius: 1rem;
    box-shadow: 18px 15px 3px 1px #00000066;
    margin-top: 1em;
    padding: 0.4em 2em;
    cursor: pointer;
}

.play:hover {
    background-position: left;
}

/* Rodapé */
footer {
    width: 100%;
    background-color: #000000;
    position: relative;
    height: fit-content;
    padding: 1em;
}

.rodape {
    text-align: center;
    color: white
}

.rodape img {
    width: 24px;
}

/* media queries */
/* Largura */
@media(max-width:380px) {
    .canvas {
        padding: 0.4em;
        width: 18em;
        height: 18em;
    }

    .options,
    .screen {
        margin: 0;
    }
}

@media(max-width: 420px) {
    .menu {
        gap: 15px;
        flex-wrap: wrap;
    }

    .texto {
        font-size: 19px;
    }

    .card {
        width: 100%;
    }

    .info {
        margin: 0;
        width: 100%;
    }

}

@media(max-width: 530px) {
    .skill-icons img {
        width: 80px;
    }

    .skill-icons {
        padding: 0;
    }

    .card {
        height: auto;
    }
}

@media (max-width: 935px) {
    .wrapper {
        height: fit-content;
    }
}